/* Universal property that sets generic font and 0 margin */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: rgb(227, 247, 255);
}

/* Properties for the header */
header {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* To make the h1 tag not extremely giant */
header h1 {
    font-size: x-large;
    text-transform: uppercase;
}

/* Properties for the input area */
input {
    border-style: none;
    padding: 0.5rem;
    width: 220px;
    height: 30px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* Properties for styling the h2 label */
h2 {
    font-size: large;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

/* Hides the horizontal lines if no information is showing yet */
hr {
    display: none;
}

/* Area for the city cover image */
.city-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Properties for the main section of page */
.container {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Properties for the search history area */
.search-history {
    width: 20%;
    margin-right: 2rem;
}

/* Properties for buttons in the search history area */
.city {
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: cadetblue;
    color: white;
    border-style: none;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

/* Properties for when the buttons are hovered */
.city:hover {
    background-color: darkcyan;
    cursor: pointer;
}

/* Properties for clear button in search history area */
.clear-button {
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: burlywood;
    color: white;
    border-style: none;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

/* Properties for clear button hover*/
.clear-button:hover {
    background-color: peru;
    cursor: pointer;
}

/* Properties for the main information area */
.information {
    width: 70%;
    display: flex;
    flex-direction: column;
}

/* Properties for the buttons within the information section */
.information button {
    font-size: 1rem;
    padding: 1rem;
    background-color: burlywood;
    color: white;
    border-style: none;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    width: 29%;
    align-self: flex-end;
    display: none;
}

/* Properties for when the buttons is hovered */
.information button:hover {
    background-color: peru;
    cursor: pointer;
}

/* Properties for the areas where TripAdvisor API information will be generated */
.card {
    border-style: solid;
    border-color: rgb(129, 130, 130);
    background-color: rgb(150, 185, 186);
    border-radius: 10px;
    width: 20%;
    height: flex;
    margin: 0.5rem;
    padding: 1rem;
}
.card div h3 {
    text-align: center;
    background-color: rgb(150, 185, 186);
}

.card div {
    background-color: rgb(150, 185, 186);
}

.card div p {
    background-color: rgb(150, 185, 186);
}

/* Properties for the generated population info */
.population {
    text-align: center;
    margin-bottom: 1rem;
}

/* Making some space between the information and the line */
.city-summary {
    margin-top: 1rem;
}

/* Container properties for the score area */
.scores-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 1rem;
}

/* Making the scores be side-by-side since there are so many */
.scores-left,
.scores-right {
    width: 50%;
}

/* Responsive breakpoints */
@media screen and (max-width: 768px) {
.search-history {
    width: 30%
}

.information {
    width: 60%;
}

.information button {
    width: 50%
}
}

@media screen and (max-width: 576px) {
.card,
.search-history,
.information {
    width: 100%;
    margin-right: 0;
}

.information button {
    width: 50%
}
}